{{ define "main" }}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article>
            {{ $scratch := newScratch }}
            {{ $scratch.Set "showTopAd" false }}
            {{ $scratch.Set "showBottomAd" false }}
            {{ with .Site.Params.adsense }}
                {{ with .show_top }}
                    {{ $scratch.Set "showTopAd" . }}
                {{ end }}
                {{ with .show_bottom }}
                    {{ $scratch.Set "showBottomAd" . }}
                {{ end }}
                {{ with .show_bottom }}
                    {{ $scratch.Set "showBottomAd" . }}
                {{ end }}
            {{ end }}
            {{ if isset .Params "adsense_top" }}
                {{ $scratch.Set "showTopAd" .Params.adsense_top }}
            {{ end }}
            {{ if isset .Params "show_bottom" }}
                {{ $scratch.Set "showBottomAd" .Params.show_bottom }}
            {{ end }}
            <header class="header">
                {{ if $scratch.Get "showTopAd" }}
                <div class="post-ads post-ads--top">
                    {{ partial "adsense.html" . }}
                </div>
                {{ end }}
                <h1 class="header-title">{{ .Title }}</h1>
                {{ $configDateFormat := .Site.Params.dateFormat | default ":date_medium" }}
                {{ with .Date }}
                {{ $ISO_time := dateFormat "2006-01-02T15:04:05-07:00" . }}
                <div class="post-meta">
                    <time datetime="{{ $ISO_time }}" itemprop="datePublished"> {{ . | time.Format $configDateFormat }} </time>
                </div>
                {{ end }}
            </header>
            {{ partial "toc.html" .}}
            {{ if .Params.reviewPending }}
            <div class="page-content review-pending">
                <p>{{ .Params.reviewMessage | default "이 글은 현재 검토 중입니다." }}</p>
            </div>
            {{ else }}
            <div class="page-content">
                {{ .Content }}
            </div>
            {{ end }}
            {{ if $scratch.Get "showBottomAd" }}
            <div class="post-ads post-ads--bottom">
                {{ partial "adsense.html" . }}
            </div>
            {{ end }}
        </article>
        <!-- <article>
            {{ range .Params.tags }}
                <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </article> -->
        {{- partial "comments.html" . -}}
    </main>
</div>
{{ end }}
