{{ with .Site.Params.analytics }}
  {{ with .google }}
    {{ with .measurementId }}
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ . }}');
      </script>
    {{ end }}
  {{ end }}
{{ end }}
{{ $robots := "" }}
{{ with .Params.robots }}
  {{ $robots = . }}
{{ else }}
  {{ if eq .RelPermalink (relLangURL "/search/") }}
    {{ $robots = "noindex, nofollow" }}
  {{ end }}
{{ end }}
{{ if $robots }}
  <meta name="robots" content="{{ $robots }}">
{{ end }}
